@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

.home-container  {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-image: url('https://images.pexels.com/photos/4012476/pexels-photo-4012476.jpeg');
  background-size:cover;
    -webkit-animation: slidein 95s;
    animation: slidein 95s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-animation-direction: alternate;
    animation-direction: alternate;

  .title, .slogan {
    width: 100vw;
    margin: 0 auto;
    font-family: $home-font;
  }

  .title {
    font-size: 40pt;
    margin-top: 150px;
  }

  .slogan {
    margin-top: 10px;
    margin-bottom: 30px;
  }
}

@-webkit-keyframes slidein {
  from {
    background-position: left; /* Starting position */
  }
  to {
    background-position: right; /* Ending position */
  }
}

@keyframes slidein {
  from {
    background-position: left; /* Starting position */
  }
  to {
    background-position: right; /* Ending position */
  }
}

.checkin-background {
  width: 100vw;
  height: calc(100vh - 66px);
  margin: 0;
}
