@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

.home-container  {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-image: url('https://images.pexels.com/photos/4012476/pexels-photo-4012476.jpeg');
  background-size:cover;
    -webkit-animation: slidein 95s;
    animation: slidein 95s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-animation-direction: alternate;
    animation-direction: alternate;

  h1 {
    font-family: $home-font;
    font-size: 40pt;
  }

  h5 {
    font-family: $home-font;
  }
}

@-webkit-keyframes slidein {
  from {
    background-position: left; /* Starting position */
  }
  to {
    background-position: right; /* Ending position */
  }
}

@keyframes slidein {
  from {
    background-position: left; /* Starting position */
  }
  to {
    background-position: right; /* Ending position */
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(75, 75, 250, 0.3);
  border-radius: 3px;
}

.center h1 {
  text-align:center;
  color:white;
  font-family: 'Source Code Pro', monospace;
  text-transform:uppercase;
}

.checkin-background {
  width: 100vw;
  height: calc(100vh - 66px);
  margin: 0;
}
