<div class='home-container'>
  <h1 class="title text-white text-center">Snow Patrol</h1>
  <h5 class="slogan text-white text-center">~ Find fresh POW now ~</h5>
  <%= render "ski_resorts/search_bar" %>
</div>
