.rate {
  margin: 0 auto;
	width: 120px;
  outline: thin solid light;
}

.emoji {
	font-size: 100px;
  background: transparent;
  text-align: center;
}

input {
	cursor: ew-resize;
  background-color: lightblue;
}
