<a href="<%= ski_resort_path(ski_resort) %>" class="text-decoration-none">
  <h2><%= ski_resort.name %></h2>
</a>
<div class="d-flex justify-content-start align-items-center">
  <div class="star-line">
     <% ski_resort.average_rating.times do %><i class="fa-solid fa-star" style="color: #ffdd00;"></i><% end %><% (5 - ski_resort.average_rating).times do %><i class="fa-regular fa-star" style="color: #ffdd00;"></i><% end %>
  </div>
</div>
<div class="d-flex justify-content-start align-items-center">
  <div class="dollar-sign-line">
    <p class="mb-0 ml-2">$$</p>
  </div>
</div>
<div class="current-condition-line d-flex align-items-center">
  <div class="condition-svg mr-2">
    <%= render "shared/current_cond_icon", ski_resort: ski_resort, current_snow: false %>
  </div>
</div>
